* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #000000;
    --second-dark: #111111;
    --secondary-color: #ffffff;
    --gray-1: #b2b2b2;
    --yellow-1: #ffbb00;
    --yellow-2: #f2a50c;
    --yellow-3: #332200;
    --yellow-4: #ffb60d;
    --yellow-5: #e59317;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    display: inline-block;

    padding: 16px 0px;
    font-size: 18px;

    cursor: pointer;
}

img {
    cursor: pointer;
    max-width: 100%;
    display: block;
}

.header img:hover {
    filter: drop-shadow(16px 16px 20px var(--secondary-color));

    transition: 0.2s ease-in-out;
}

ul {
    list-style: none;
}

.header-bg {
    background-color: var(--primary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    max-width: 1160px;
    margin: 0 auto;

    flex-wrap: wrap;
    gap: 20px;
}

.header-menu {
    display: flex;
    gap: 40px;

    flex-wrap: wrap;
}

.header-menu a {
    position: relative;
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--secondary-color);
    margin-top: 2px;

    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover:after {
    width: 100%;
}

@media (max-width: 800px){
    .header-menu a {
        background-color: #111111;
        padding: 12px 16px;
        border-radius: 0.5em;
    }

    .header-menu {
        gap: 20px;
    }

    .header-menu a:after {
        display: none;
    }

    .header-menu a:hover {
        background-color: #2e2e2e;
    }
}

@media (max-width: 600px){
    .header-menu a {
        font-size: 1.1em;
        padding: 11px 16px;
    }

    .header-menu {
        gap: 10px;
    }

    .header img {
        margin: 0 auto;
    }

    .header nav{
        margin: 0 auto;
    }

    .header nav ul {
        justify-content: center;
    }
}

@media (max-width: 400px){
    img {
        margin: 0 auto;
    }

    nav {
        margin: 0 auto;
    }
}

/* 
Main
*/

.intro-bg {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    box-shadow: inset 0px -120px 0px var(--secondary-color);

    margin-bottom: 600px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;

    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
}

.intro-image {
    background-color: var(--primary-color);
    border-radius: .3em;
}

.intro img {
    height: 100%;
    object-fit: cover;

    border-radius: .3em;

    opacity: 0.7;
    transition: 0.3s;
}

.intro img:hover {
    opacity: 1;
}

.intro-content {
    align-self: center;
    padding-bottom: 200px;
}

.intro-content h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
}

.intro-content p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: var(--gray-1);
}



.intro-content a {
    display: inline-block;
    background: linear-gradient(var(--yellow-1), var(--yellow-2));
    padding: 16px 32px;
    color: var(--yellow-3);

    border-radius: .3em;

    box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.1);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
}

.intro-content a:hover {
    background: linear-gradient(var(--yellow-4), var(--yellow-5));
}

@media (max-width:600px) {
    .intro a {
        padding: 12px 16px;
        font-size: 16px;
    }
}

.intro-content span {
    color: var(--yellow-1);
}

@media (max-width:1200px) {
    .intro-content h1 {
        font-size: 48px;
    }

    .intro-content p {
        font-size: 18px;
    }
}

@media (max-width:800px) {
    .intro-bg {
        background-color: var(--second-dark);
        padding-top: 40px;

        box-shadow: inset 0 -60px #fff;
    }

    .intro img {
        opacity: 1;
        transition: .3s ease-in-out;
    }

    .intro img:hover {
        opacity: 0.8;
    }

    .intro {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .intro-content {
        padding-bottom: 0px;
    }
    
    .intro-content h1 {
        font-size: 32px;
        margin-bottom: 28px;
    }

    .intro-image img {
        height: 300px;
        width: 100%;
    }
}