* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
  }

  a {
    text-decoration: none;
    color: var(--secondary-color);
    display: inline-block;

    cursor: pointer;
  }
  
  img {
    cursor: pointer;
    max-width: 100%;
    display: block;
  }
  
  img[src$=".jpg"] {
    
    border-radius: 0.3em;
  }

  .bg-gradient {
    background: linear-gradient(white, rgb(199, 199, 199)) 100%;
}
